$app-background-color: #FFFFFF;
$app-max-width: 720px;
$app-main-font-family: Arial, sans-serif;
$app-secondary-font-family: PT Sans, sans-serif;
$app-main-text-color: #333333;
$app-secondary-text-color: #808080;
$app-forms-background-color: #E5E5E5;
$app-error-message-color: #ef5350;